<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css"
    />
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/190177/marked.js"></script>
    <link
      rel="stylesheet"
      href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500"rel="stylesheet'
    />
  </head>

  <body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!--네비 바-->
    <div class="navbar navbar-expand-md" role="navigation">
      <a href="/"><img
        src="/graphic/logo/logo_done2.png"
        style="width: 50px; margin: 10px"
      /></a>

      <div class="collapse navbar-collapse" id="navBarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="title_cal" style="color: white; margin-top: 50px"
              >My Page</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <!-- <div class="rect_blue" style="background-color: #60aefe"></div> -->
      <div class="row">
        <div class="col-sm-1">
          <p class="title"><%= date %></p>
        </div>
        <div class="col-sm-10">
          <input
            value="<%= title %>"
            type="text"
            class="edit_title"
            name="edit_title"
            style="
              color: black;
              box-shadow: 0px 3px 6px #00000029;
              background-color: #edf6ff;
              margin-top: 75px;
            "
          />
          <div
            class="edit_paper"
            id="result"
            style="
              text-align: left;
              margin-top: 30px;
              width: 100%;
              min-height: 1000px;
              background-color: #ffffff;
            "
          ></div>
        </div>
        <div class="col-sm-1">
          <button
            class="edit_btn"
            style="background-color: #707070; margin-right: 130px"
            type="submit"
            onclick="window.location.href='/editor?articleId=<%= articleId %>&update=true'"
          >
            Edit
          </button>
        </div>
      </div>
    </div>

    <script>
      const rawMarkdown = `<%= markdown %>`;
      let markdown = rawMarkdown
        .replace(/&amp;/g, "&")
        .replace(/&lt;/g, "<")
        .replace(/&gt;/g, ">")
        .replace(/&quot;/g, '"')
        .replace(/&#039;/g, "'")
        .replace(/&#96;/g, "`");
      const rendered = marked(markdown);

      const resultView = document.getElementById("result");
      resultView.innerHTML = rendered;
    </script>
  </body>
</html>
