<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello, <%= userName %></h1>

    <% if(books && books.length >= 1) { %> <% for(let i = 0; i < books.length;
    i++) { %>
    <div>
      <img src="<%= books[i].imageURL %>" alt="<%= books[i].title %>" />
      <p><%= books[i].title %></p>
    </div>
    <% } %> <% } else { %> <% if(userName !== 'Guest') { %>
    <p>No book recommended</p>
    <% } %> <% } %>
  </body>
</html>
