<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calendar Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
      h {
        font-size: 10px;
        line-height: 1;
      }

      .tabCon {
        overflow: hidden;
      }
      .tabCon {
        cursor: pointer;
      }
    </style>
  </head>

<body style="overflow-x:hidden;"></body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>  
    <link rel="stylesheet" type="text/css" href="css/common.css">

    <!--네비 바-->
    <div class="navbar navbar-expand-md" role="navigation">
      <img src="/graphic/logo/logo_done2.png" style="width:50px; margin:10px;">

        <div class="collapse navbar-collapse" id="navBarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="/rank" class="title_cal" style="color:white; margin-top: 50px;">Ranking  </a>
                  <a href="/unitrank" class="title_cal" style="color:white; margin-top: 50px;">Unit Ranking</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" >
          <div class="col-sm-7">
            <iframe style="margin-top: 7vh; width: 100%; height: 90vh" src="/calendar" frameborder="0"></iframe>
          </div>
          <div class="col-sm-5">
            <div class="tabmenu">
                <script>
                  function lib() {
                    window.open('http://search.ebscohost.com/');
                  }
                </script>
                <ul>
                  <li id="tab1" class="btnCon"> <input type="radio" checked name="tabmenu" id="tabmenu1">
                    <% if(books && books.length >= 1) { %>
                    <label for="tabmenu1" style="font-size: 12px;">BOOK</label>
                    <div onclick="lib()" class="tabCon"style="height:150px; width: 35vw;background-color: #EDF6FF; margin-bottom: 100px;">
                      <img class="img_tab" style="float:left;" src="<%= books[0].imageURL %>" alt="Fjords">
                        <p class="h_book"><%= books[0].title.replace(/<[^>]*>?/gm, "") %></p>
                        <h><%= books[0].description.replace(/<[^>]*>?/gm, "") %></h>
                    </div>
                    <div onclick="lib()" class="tabCon" style="margin-top:160px; margin-left:65px; height:130px; width:30vw;" >
                      <img class="img_tab2" style="float:left;" src="<%= books[1].imageURL %>" alt="Fjords">
                      <p class="h_book" style="font-size:15px;"><%= books[1].title.replace(/<[^>]*>?/gm, "") %></p>
                      <h><%= books[1].description.replace(/<[^>]*>?/gm, "") %></h>
                    </div>
                    <div onclick="lib()" class="tabCon" style="margin-top:310px; margin-left:65px; height:130px; width:30vw;">
                      <img class="img_tab2" style="float:left;" src="<%= books[2].imageURL %>" alt="Fjords">
                      <p class="h_book" style="font-size:15px;"><%= books[2].title.replace(/<[^>]*>?/gm, "") %></p>
                        <h><%= books[2].description.replace(/<[^>]*>?/gm, "") %></h>
                    </div>
                    <div onclick="lib()" class="tabCon" style="margin-top:450px; margin-left:65px; height:130px; width:30vw;">
                      <img class="img_tab2" style="float:left;" src="<%= books[3].imageURL %>" alt="Fjords">
                      <p class="h_book" style="font-size:15px;"><%= books[3].title.replace(/<[^>]*>?/gm, "") %></p>
                        <h><%= books[3].description.replace(/<[^>]*>?/gm, "") %></h>
                    </div>
                    <div onclick="lib()" class="tabCon" style="margin-top:590px; margin-left:65px; height:130px; width:30vw;">
                      <img class="img_tab2" style="float:left;" src="<%= books[4].imageURL %>" alt="Fjords">
                      <p class="h_book" style="font-size:15px;"><%= books[4].title.replace(/<[^>]*>?/gm, "") %></p>
                        <h><%= books[4].description.replace(/<[^>]*>?/gm, "") %></h>
                    </div>
                    <% } %>
                  </li>
                  <li id="tab2" class="btnCon"><input type="radio" name="tabmenu" id="tabmenu2">
                    <label for="tabmenu2" style="font-size: 12px;">CERTIFICATE</label>
                    <div onclick="openLink(this)" class="tabCon"style="background-color: #e9e9e9; height:150px; width:75%;background-color: #EDF6FF;">
                      <p class="h_book" style="padding-top: 50px; text-align: center; font-size: 28px"><%= certs[0] %></p>
                    </div>
                    <div onclick="openLink(this)" class="tabCon" style="background-color: #e9e9e9; margin-top:160px; margin-left:65px; height:120px; width:65%;">
                      <p class="h_book" style="padding-top: 30px; text-align: center; font-size:23px;"><%= certs[1] %></p>
                    </div>
                    <div onclick="openLink(this)" class="tabCon" style="background-color: #e9e9e9; margin-top:310px; margin-left:65px; height:120px; width:65%;">
                      <p class="h_book" style="padding-top: 30px; text-align: center; font-size:23px;"><%= certs[2] %></p>
                    </div>
                    <div onclick="openLink(this)" class="tabCon" style="background-color: #e9e9e9; margin-top:450px; margin-left:65px; height:120px; width:65%;">
                      <p class="h_book" style="padding-top: 30px; text-align: center; font-size:23px;"><%= certs[3] %></p>
                    </div>
                    <div onclick="openLink(this)" class="tabCon" style="background-color: #e9e9e9; margin-top:590px; margin-left:65px; height:120px; width:65%;">
                      <p class="h_book" style="padding-top: 30px; text-align: center; font-size:23px;"><%= certs[4] %></p>
                    </div>
                    <script>
                      const dict = {
                        '직업상담사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=9511',
                        '사회복지사':'https://www.q-net.or.kr/crf005.do?id=crf00503&gSite=L&gId=52&jmCd=9738',
                        '공인중개사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=9630',
                        '유기농업기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1592',
                        '유기농업산업기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=2592',
                        '실내건축기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1282',
                        '승강기기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1555',
                        '승강기기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7940',
                        '자동차정비기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1070',
                        '자동차정비기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=6281',
                        '용접기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1022',
                        '초음파비파괴검사기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1612',
                        '초음파비파괴검사기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7472',
                        '전기공사기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1160',
                        '전기기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1150',
                        '전기산업기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=2140',
                        '전기기능사':'https://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=7780&examInstiCd=1',
                        '정보통신기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1192',
                        '무선설비기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=1200',
                        '토목산업기사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=2240',
                        '실내건축기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7152',
                        '배관기능장':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=3081',
                        '배관기능사':'https://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=7780&examInstiCd=1',
                        '가스기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=6335',
                        '무선설비기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=6880',
                        '정보처리기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=6921',
                        '굴삭기운전기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7862',
                        '로더운전기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7866',
                        '롤러운전기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7871',
                        '기중기운전기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7861',
                        '지게차운전기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7875',
                        '유통관리사':'https://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=7780&examInstiCd=1',
                        '한식조리기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7910',
                        '양식조리기능사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=7911',
                        '컴퓨터활용능력1급':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=0492',
                        '컴퓨터활용능력2급':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=0493',
                        '공인노무사':'http://www.q-net.or.kr/crf005.do?id=crf00503&gSite=Q&gId=&jmCd=9500',
                        '감정평가사':'https://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=7780&examInstiCd=1'
                      }

                      function openLink(el) {
                        const name = el.children[0].innerText.split(' ')[0];
                        const url = dict[name];
                        if(url)
                          window.open(url);
                        else
                          alert("이 자격증은 상세 정보를 제공하지 않습니다.")
                      }
                    </script>
                  </li>
                </ul>
              </div>
          </div>
        </div>
    </div>
</body>
</html>